// Color

$primary              : #9966CC;
$secondary            : #2EC4B6;
$tertiary             : #F4E753;

$danger               : #FF3333;
$warning              : #FFDC59;

$white                : #FFFFFF;

$black                : #111111;
$black1               : #4c4d52;

$grey                 : #656565;
$grey2                : #aaaaaa;
$grey3                : #cccccc;

