.footer {
    position: fixed;
    z-index: 1;
    color: #FFF;
    
    font-size: 13px;
    bottom: 0;
    width: calc(100% - 60px);
    display: flex;
    justify-content: space-between;
    margin: 0 30px 30px 30px;
}

@media (max-width:800px) {
    .footer {
        position: fixed;
        z-index: 1;
        color: #FFF;
        
        font-size: 13px;
        bottom: 0;
        display: flex;
        flex-direction: column-reverse;
        margin: 0 30px 30px 30px;
        .copy,.license{
            margin: 0 auto;
        }
    }
}